* {
    user-select: none;
}

.row1 {
    padding: 10px;
    text-align: left;
}

.col2 {
    display: flex;
    justify-content: right;
}

label {
    font-size: 18px;
    color: #7E7CA8;
    letter-spacing: 1px;
}

form {
    text-align: start;
    background-color: #fff;
    padding-top: 20px;
}

.addPool {
    background-color: #f25b87;
    font-family: DM SansSce Regular;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 27px;
    color: #FFFFFF;
    border-radius: 10px;
}

.heading1 {
    width: 80vw;
    margin: auto;
    /* padding-top: 30px; */
}

.poolHead {
    font-family: DM SansSce Medium;
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 30px;
    text-transform: uppercase;
    color: #10467E;
}

.poolHead-p {
    font-family: DM SansSce Medium;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 25px;
    color: #10467E;
}

.poolTableHead {
    font-family: DM SansSce Regular;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    color: #10467E;
    border-bottom: 2px solid #7E7CA8 !important;
}

::placeholder {
    color: #7E7CA8;
}

input[type=number],
input[type=text],
input[type=date],
input[type=time],
input[type=submit],
select {
    width: 23VW;
    padding: 14px;
    box-sizing: border-box;
    border: 1px solid #7E7CA8;
    border-radius: 10px;
    color: #7E7CA8;
    font-size: 18px;
    outline: 0;
}

.col1 {
    display: flex;
    justify-content: left;
}


/* 
.addPool {
    background-color: #f25b87 !important;
    color: #fff;
    font-size: 20px;
} */

.modalBtn1 {
    background: none;
    border: 4px solid #f25b87;
    font-size: 20px;
    color: #f25b87;
    border-radius: 10px;
    width: 120px;
    height: 50px;
}

.modalBtn2 {
    background-color: #f25b87;
    border: none;
    color: #fff;
    font-size: 20px;
    margin-left: 30px;
    width: 120px;
    height: 50px;
    border-radius: 10px;
}

.addResult {
    font-size: 16px;
    line-height: 22px;
    text-align: center;
    text-decoration-line: underline;
    color: #7B61FF;
}

.addTest {
    font-size: 16px;
    line-height: 22px;
    text-align: center;
    text-decoration-line: underline;
    color: #7B61FF;
}

.modal-footer {
    display: flex;
    flex-wrap: wrap;
    flex-shrink: 0;
    align-items: center;
    justify-content: center;
    padding: .75rem;
    /* border-top: 1px solid; */
}

.error-msg {
    color: red;
    text-align: center;
    font-size: 20px;
}

.addPoolHeading {
    font-size: 20px;
    color: #f25b87;
    margin-left: 30px;
}

.addTestHeading {
    font-family: DM SansSce Medium;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    text-align: center;
    text-transform: uppercase;
    color: #10467E;
}

.addResultHeading {
    font-family: DM SansSce Medium;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    text-align: center;
    text-transform: uppercase;
    color: #10467E;
}

.fa-search:before {
    content: "\f002";
    position: relative;
    right: 48px;
    color: #7E7CA8;
    font-size: large;
}

.donorTableHead {
    background: #7E7CA821;
    border-bottom: 2px solid #7E7CA8 !important;
}

@media screen and (max-width: 600px) {
    .col1 {
        width: 100%;
        margin-top: 0;
        display: flex;
        justify-content: left;
    }
    input[type=text],
    input[type=date],
    input[type=time],
    input[type=number],
    select {
        width: 85VW;
        padding: 16px;
        box-sizing: border-box;
        border: 1px solid #7E7CA8;
        border-radius: 10px;
        color: #7E7CA8;
        font-size: 18px;
        outline: 0;
    }
    label {
        margin-bottom: 10px;
    }
    .heading1 {
        width: auto;
    }
    .poolHead {
        text-align: center;
    }
    .poolHead-p {
        display: none;
    }
    .modalButtons {
        padding-top: 30px;
    }
}

@media screen and (max-width: 320px) {
    .col1 {
        width: 100%;
        margin-top: 0;
    }
    input[type=text],
    input[type=date],
    input[type=time],
    input[type=submit],
    select {
        width: 85VW;
        padding: 8px;
        border: 1px solid #7E7CA8;
        border-radius: 20px;
        color: #7E7CA8;
        font-size: 20px;
        outline: 0;
    }
    label {
        margin-bottom: 10px;
    }
    .heading1 {
        width: auto;
    }
    .poolHead {
        text-align: center;
    }
    .poolHead-p {
        display: none;
    }
    .modalButtons {
        padding-top: 30px;
    }
}