mat-icon {
    cursor: pointer;
}

.parent-row {
    font-family: DM SansSce Medium;
}

#col-img {
    height: 100vh;
    background-position: center;
    background-size: cover;
    /* background-image: url(/assets/family-img.jpg); */
}

.img-gradient {
    height: 100vh;
    margin-left: auto;
    width: 9vw;
    background: -webkit-linear-gradient(right, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 58, 0) 100%);
    background: linear-gradient(to left, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 58, 0) 100%);
}

#form-container {
    text-align: center;
    top: 15%;
    position: relative;
}

.login-head {
    font-family: DM SansSce Medium;
    font-weight: 500;
}

.fa-chevron-left:before {
    color: #f25b87;
    cursor: pointer;
}

 ::ng-deep .mat-form-field-appearance-outline .mat-form-field-flex {
    width: 300px;
    position: relative;
    border-radius: 37px !important;
}

 ::ng-deep .mat-form-field input,
 ::placeholder,
.mat-form-field,
 ::ng-deep .mat-form-field-label {
    color: #7E7CA8 !important;
}

.invalid-message {
    color: red;
}

.btn-login {
    width: 300px;
    height: 45px;
    background-color: #f25b87;
    border: none;
    border-radius: 4px;
    color: #fff;
    font-size: 20px;
}

.p-register-here {
    color: #7E7CA8;
    font-size: 18px;
    cursor: pointer;
    font-family: DM SansSce Regular;
}

.p-register-here a {
    color: #f25b87;
    text-decoration: none;
    font-family: DM SansSce Medium;
    font-weight: 600;
}

@media only screen and (max-width: 600px) {
    #form-container {
        top: 0%;
    }
    #col-img {
        display: none !important;
    }
}

@media only screen and (max-width: 991px) {
    #col-img {
        display: none !important;
    }
}