<div class="row p-0 m-0 parent-row">
    <div class="col-sm-0 col-md-0 col-lg-5 p-0 m-0" id="col-img" style="background-image: url(assets/family-img.jpg);">
        <div class="img-gradient"></div>
    </div>

    <div class="col-sm-12 col-md-12 col-lg-7">
        <i class="fa fa-chevron-left fa-3x" aria-hidden="true" (click)="navigateToHome()"></i>
        <div class="container" id="form-container">
            <h1 class="login-head">Sign In</h1>
            <form #loginForm="ngForm" (ngSubmit)="login()">
                <p class="p-0">
                    <mat-form-field appearance="outline" [color]="textFieldColor">
                        <mat-label>Username</mat-label>
                        <input matInput [(ngModel)]="username" name="username" required/>
                    </mat-form-field>
                </p>

                <p class="p-0">
                    <mat-form-field appearance="outline" [color]="textFieldColor">
                        <mat-label>Password</mat-label>
                        <input matInput [(ngModel)]="password" name="password" [type]="hide ? 'password' : 'text'" required/>
                        <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </mat-form-field>
                </p>

                <p class="invalid-message" *ngIf="invalidUsernamePassword">Invalid Username or Password</p>

                <button type="submit" class="btn-login mt-3 mb-5">Login</button>
                <p class="p-register-here">Don't have an Account? <a class="" (click)="navigateToRegistration()">Register here</a></p>
            </form>
        </div>
    </div>
</div>