<div class="container-fluid">

    <div class="row row1 ">
        <h2 class="rawHead">Raw Collection</h2>

        <div class="col-6 col1 py-4">
            <button class="btn newCollection" (click)="openCollectionForm()"><i class="fa fa-plus"
                    aria-hidden="true"></i> New Collection</button>
        </div>
        <!-- 
        <div class="col-6 col1">
            <input type="text" name="search" style="height: 55px;" [(ngModel)]="searchString">
        </div> -->
    </div>

    <div class="table-responsive">
        <table class="table table-striped table-hover">
            <thead>
                <tr>
                    <th *ngFor="let header of rawCollectionHeader; index as i" class="px-4">
                        {{header}}
                    </th>
                </tr>
            </thead>

            <tbody>
                <tr *ngFor="let data of rawCollectionData">
                    <td class="px-4">{{data.donor_full_name}}</td>
                    <td class="px-4">{{data.receiving_site}}</td>
                    <td class="px-4">{{data.staff_name}}</td>
                    <td class="px-4">{{data.volume_collected}}</td>
                    <td class="px-4">{{data.collection_date | date:"dd/MM/yyyy"}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<div class="modal fade" bsModal #collectionForm="bs-modal" tabindex="-1" role="dialog" aria-labelledby="dialog-static-name" [config]="{ keyboard: false, backdrop: 'static'}">
    <div class="modal-dialog modal-fullscreen modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-body">
                <div class="container d-flex justify-content-center">
                    <form #nativeCollectionForm="ngForm" (ngSubmit)="createRawCollection()">
                        <div class="row row1">
                            <div class="col-6 col1">
                                <label>Donor</label>
                            </div>
                            <div class="col-6 col1">
                                <input type="text" name="donor" id="donor" [(ngModel)]="selectedDonorName" (focus)="showDonorDetailModal()" required>
                            </div>
                        </div>

                        <div class="row row1">
                            <div class="col-6 col1">
                                <label for="country">Executive</label>
                            </div>
                            <div class="col-6 col1">
                                <input type="text" name="executive_id" [(ngModel)]="selectedStaffName" (focus)="showDonorStaffModal()" required>
                            </div>
                        </div>
                        <div class="row row1">
                            <div class="col-6 col1">
                                <label>Collection Date </label>
                            </div>
                            <div class="col-6 col1">
                                <input type="date" name="collection_date_time" placeholder="Click to select date" [(ngModel)]="date" required>
                            </div>
                        </div>
                        <div class="row row1">
                            <div class="col-6 col1">
                                <label>Collection time</label>
                            </div>
                            <div class="col-6 col1">
                                <input type="time" name="collection_date_time" placeholder="Click to select time" [(ngModel)]="time" required>
                            </div>
                        </div>
                        <div class="row row1">
                            <div class="col-6 col1">
                                <label for="subject">Receiving Center</label>
                            </div>
                            <div class="col-6 col1">
                                <input type="text" name="receiving_center" [(ngModel)]="createRawCollectionModal.recevingSite" required>
                            </div>
                        </div>

                        <!-- <div class="row row1">
                            <div class="col-6 col1">
                                <label for="subject">Breast Pump type</label>
                            </div>
                            <div class="col-6 col1">
                                <input type="text" name="breast_pump_type" [(ngModel)]="createRawCollectionModal.breastPumpType" required>
                            </div>
                        </div> -->
                        <!-- <div class="row row1">
                            <div class="col-6 col1">
                                <label for="subject">Number of Units</label>
                            </div>
                            <div class="col-6 col1">
                                <input type="number" min="1" name="number_of_units" [(ngModel)]="createRawCollectionModal.units" required>
                            </div>
                        </div> -->
                        <div class="row row1">
                            <div class="col-6 col1">
                                <label for="subject">Total Volume</label>
                            </div>
                            <div class="col-6 col1">
                                <input type="number" min="1" name="total_volume" [(ngModel)]="createRawCollectionModal.volumeCollected" required>
                            </div>
                        </div>

                        <div class="error-msg" *ngIf="isErrorMsgVisible">
                            <h2>
                                {{errorMsg}}
                            </h2>
                        </div>

                        <div class="p-2 text-center">
                            <button type="button" class="btn btn-lg modalBtn1" (click)="collectionForm.hide()" data-bs-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-lg modalBtn2">Save</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Donor -->
<div class="modal fade" bsModal #donorDetailModal="bs-modal" tabindex="-1" role="dialog" aria-labelledby="dialog-static-name" [config]="{ keyboard: false, backdrop: 'static'}">
    <div class="modal-dialog modal-fullscreen modal-dialog-centered">
        <div class="modal-content text-center">
            <div class="modal-body">
                <div class="col-sm">
                    <input type="text" name="search" placeholder="search here" [(ngModel)]="searchString">
                </div>

                <table class="table table-hover table-striped ">
                    <thead>
                        <tr>
                            <th></th>
                            <th *ngFor="let header of donorHeader; index as i">{{header}}</th>
                        </tr>
                    </thead>

                    <tbody>
                        <tr *ngFor="let p of donorData | filter : searchString">
                            <td>
                                <input type="radio" id={{p.id}} name="rdo_id" [value]=p.id [(ngModel)]="selectedDonor">
                            </td>
                            <td>{{p.id}}</td>
                            <td>{{p.full_name}}</td>
                            <td>{{p.address}}</td>
                            <td>{{p.phone_number}}</td>
                            <td>{{p.email}}</td>
                        </tr>
                    </tbody>
                </table>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-lg modalBtn1" data-bs-dismiss="modal" (click)="donorDetailModal.hide()">Close</button>
                <button type="button" class="btn btn-lg modalBtn2" (click)="selectIdAndClose()">Select</button>
            </div>

        </div>
    </div>
</div>

<!-- STAFF MODAL -->
<div class="modal fade" bsModal #staffDetailModal="bs-modal" tabindex="-1" role="dialog" aria-labelledby="dialog-static-name" [config]="{ keyboard: false, backdrop: 'static'}">
    <div class="modal-dialog modal-fullscreen modal-dialog-centered">
        <div class="modal-content text-center">
            <div class="modal-body">
                <div class="col-sm">
                    <input type="text" name="search" placeholder="search here" [(ngModel)]="searchString">
                </div>

                <table class="table table-hover table-striped ">
                    <thead>
                        <tr>
                            <th></th>
                            <th *ngFor="let header of staffHeader; index as i">{{header}}</th>
                        </tr>
                    </thead>

                    <tbody>

                        <tr *ngFor="let p of staffData | filter : searchString">
                            <td>
                                <input type="radio" id="html" name="rdo_id" value={{p.id}} [(ngModel)]="selectedStaff">
                            </td>
                            <td>{{p.hosp_id}}</td>
                            <td>{{p.staff_full_name}}</td>
                            <td>{{p.staff_contact}}</td>
                        </tr>
                    </tbody>
                </table>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-lg modalBtn1" data-bs-dismiss="modal" (click)="staffDetailModal.hide()">Close</button>
                <button type="button" class="btn btn-lg modalBtn2" (click)="selectIdAndCloseStaffModal()">Select</button>

            </div>

        </div>
    </div>
</div>