<div class="container-fluid">
    <div class="col-12 col2 py-4">
        <button class="btn newCollection" (click)="openCollectionForm()"><i class="fa fa-plus"
                    aria-hidden="true"></i> New Collection</button>
    </div>

    <div class="table-responsive ">
        <table class="table table-bordered table-hover text-start">
            <thead>
                <tr>
                    <th class="px-4 rowTableHead">
                        Donor
                    </th>
                    <th class="px-4 rowTableHead">
                        Receiving Site
                    </th>
                    <th class="px-4 rowTableHead">
                        Staff
                    </th>
                    <th class="px-4 rowTableHead">
                        Volume Collected
                    </th>
                    <th class="px-4 rowTableHead">
                        Collection Date
                    </th>
                </tr>
            </thead>

            <tbody>
                <tr *ngFor="let data of rawCollectionData">
                    <td class="px-4">{{data.donor_full_name}}</td>
                    <td class="px-4">{{data.receiving_site}}</td>
                    <td class="px-4">{{data.staff_name}}</td>
                    <td class="px-4">{{data.volume_collected}}</td>
                    <td class="px-4">{{data.collection_date | date:"dd/MM/yyyy"}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<div class="modal fade" bsModal #collectionForm="bs-modal" tabindex="-1" role="dialog" aria-labelledby="dialog-static-name" [config]="{ keyboard: false, backdrop: 'static'}">
    <div class="modal-dialog modal-fullscreen modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-body">
                <div class="heading1">
                    <span>
                        <h4 class="rawHead">Add New Raw Collection:</h4>
                        <P class="rawHead-p">Please Select and Fill Required Information.</P>
                        <hr>
                    </span>
                </div>
                <div class="container d-flex justify-content-center">
                    <form #nativeCollectionForm="ngForm" (ngSubmit)="createRawCollection()">
                        <div class="row row1">
                            <div class="col-12 col1">
                                <input type="text" name="donor" id="donor" placeholder="Select Donor" [(ngModel)]="selectedDonorName" (focus)="showDonorDetailModal()" required>
                            </div>
                        </div>

                        <div class="row row1">
                            <div class="col-12 col1">
                                <input type="text" name="executive_id" placeholder="Select Executive" [(ngModel)]="selectedStaffName" (focus)="showDonorStaffModal()" required>
                            </div>
                        </div>

                        <div class="row row1">
                            <div class="col-12 col1">
                                <input type="number" min="1" name="total_volume" placeholder="Total Volume(ml)" [(ngModel)]="createRawCollectionModal.volumeCollected" required>
                            </div>
                        </div>
                        <div class="row row1">
                            <div class="col-12 col1">
                                <input type="time" name="collection_time" class="textbox-n" type="text" onfocus="(this.type = 'time')" id="time" placeholder="Collection Time" [(ngModel)]="time" required>
                                <!-- <input type="time" name="collection_time" placeholder="Collection time" [(ngModel)]="time" required> -->
                            </div>
                        </div>
                        <div class="row row1">
                            <div class="col-12 col1">
                                <input type="date" name="collection_date" class="textbox-n" type="text" onfocus="(this.type = 'date')" id="date" placeholder="Collection Date" [(ngModel)]="date" required>
                                <!-- <input placeholder="Collection Date" class="textbox-n" type="text" onfocus="(this.type = 'date')" id="date"> -->
                            </div>
                        </div>

                        <div class="row row1">
                            <div class="col-12 col1">
                                <input type="text" name="receiving_center" placeholder="Receiving Center" [(ngModel)]="createRawCollectionModal.recevingSite" required>
                            </div>
                        </div>

                        <div class="error-msg" *ngIf="isErrorMsgVisible">
                            <h2>
                                {{errorMsg}}
                            </h2>
                        </div>

                        <div class="text-center modalButtons mt-3">
                            <button type="button" class="btn btn-lg modalBtn1" (click)="collectionForm.hide()" data-bs-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-lg modalBtn2">Save</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Donor -->
<div class="modal fade" bsModal #donorDetailModal="bs-modal" tabindex="-1" role="dialog" aria-labelledby="dialog-static-name" [config]="{ keyboard: false, backdrop: 'static'}">
    <div class="modal-dialog modal-fullscreen modal-dialog-centered">
        <div class="modal-content text-center">
            <div class="modal-body">
                <div class="col-sm py-5">
                    <input type="text" name="search" placeholder="search here" [(ngModel)]="searchString" style="border-radius: 30px; font-weight: 100;">
                    <i class="fa fa-search" aria-hidden="true"></i>
                </div>
                <h3 class="selectDonor">Select Donor:</h3>

                <table class="table table-hover table-bordered">
                    <thead>
                        <tr class="collectionTableHead">
                            <th></th>
                            <!-- <th class="collectionTableHead" *ngFor="let header of donorHeader; index as i">{{header}}</th> -->
                            <th>Id</th>
                            <th>Name</th>
                            <th>Address</th>
                            <th>Mobile No</th>
                            <th>Email</th>
                        </tr>
                    </thead>

                    <tbody>
                        <tr *ngFor="let p of donorData | filter : searchString">
                            <td>
                                <input type="radio" id={{p.id}} name="rdo_id" [value]=p.id [(ngModel)]="selectedDonor">
                            </td>
                            <td>{{p.id}}</td>
                            <td>{{p.full_name}}</td>
                            <td>{{p.address}}</td>
                            <td>{{p.phone_number}}</td>
                            <td>{{p.email}}</td>
                        </tr>
                    </tbody>
                </table>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-lg modalBtn1" data-bs-dismiss="modal" (click)="donorDetailModal.hide()">Close</button>
                <button type="button" class="btn btn-lg modalBtn2" (click)="selectIdAndClose()">Select</button>
            </div>

        </div>
    </div>
</div>

<!-- STAFF MODAL -->
<div class="modal fade" bsModal #staffDetailModal="bs-modal" tabindex="-1" role="dialog" aria-labelledby="dialog-static-name" [config]="{ keyboard: false, backdrop: 'static'}">
    <div class="modal-dialog modal-fullscreen modal-dialog-centered">
        <div class="modal-content text-center">
            <div class="modal-body">
                <div class="col-sm py-5">
                    <input type="text" name="search" placeholder="search here" [(ngModel)]="searchString" style="border-radius: 30px; font-weight: 100;">
                    <i class="fa fa-search" aria-hidden="true"></i>
                </div>
                <h3 class="selectDonor">Select Executive:</h3>
                <table class="table table-hover table-bordered ">
                    <thead>
                        <tr class="collectionTableHead">
                            <th></th>
                            <!-- <th class="collectionTableHead" *ngFor="let header of staffHeader; index as i">{{header}}</th> -->
                            <th>Hospital Id</th>
                            <th>Name</th>
                            <th>Contact</th>
                        </tr>
                    </thead>

                    <tbody>

                        <tr *ngFor="let p of staffData | filter : searchString">
                            <td>
                                <input type="radio" id="html" name="rdo_id" value={{p.id}} [(ngModel)]="selectedStaff">
                            </td>
                            <td>{{p.hosp_id}}</td>
                            <td>{{p.staff_full_name}}</td>
                            <td>{{p.staff_contact}}</td>
                        </tr>
                    </tbody>
                </table>

            </div>
            <div class="modal-footer modalButtons">
                <button type="button" class="btn btn-lg modalBtn1" data-bs-dismiss="modal" (click)="staffDetailModal.hide()">Close</button>
                <button type="button" class="btn btn-lg modalBtn2" (click)="selectIdAndCloseStaffModal()">Select</button>

            </div>

        </div>
    </div>
</div>