<div class="container-fluid">
    <div class="col-12 col2 py-4">
        <button class="btn openCollectionBtn"><i class="fa fa-plus" aria-hidden="true"></i> New
            Pre-Pasturization</button>
    </div>

    <div class="table-responsive">
        <div class="collection-table">
            <table class="table table-bordered table-hover text-start">
                <thead>
                    <tr>
                        <th>id</th>
                        <th>Date</th>
                        <th>Pre Result</th>
                        <th>Pooling</th>
                    </tr>
                </thead>

                <tbody>
                    <tr *ngFor="let pd of pasturizationData">
                        <td class="px-4">{{pd.id}}</td>
                        <td class="px-4">{{pd.pasturization_date}}</td>
                        <td class="px-4">{{pd.pre_result}}</td>
                        <td class="px-4">{{pd.pool}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

</div>