<div class="thankYou">Thank You!!!</div>
<div class="d-flex justify-content-center">
    <div class="col-6 approval">
        <div>Thank you for collabration.We have receive your submitted details.Please wait for approval. You will received mail regarding approval.
        </div>
    </div>
</div>
<div class="col-12 d-flex justify-content-center my-5">
    <button class="btn btn-danger text-white BacktoHome" (click)="navigateToHome()">Back to Home</button>
</div>
<div class="contact">
    <div class="d-flex justify-content-center">
        <span>If you have any issues,<b style="color: #f25b87;">Contact Us</b></span>
    </div>
</div>