<div class="container-fluid">
    <button (click)="openCollectionForm()">New Collection</button>

    <div class="collection-table">
        <table>
            <tr>
                <th *ngFor="let header of pasturizationHeader; index as i">
                    {{header}}
                </th>
            </tr>
            <tr *ngFor="let data of pasturizationData">
                <td>{{data.pasturization_date}}</td>
                <td>{{data.pre_result}}</td>
                <td>{{data.post_result}}</td>
                <td>{{data.pool_id}}</td>
            </tr>
        </table>
    </div>
</div>

<div class="modal fade" bsModal #pasturizationForm="bs-modal" tabindex="-1" role="dialog" aria-labelledby="dialog-static-name" [config]="{ keyboard: false, backdrop: 'static'}">
    <div class="modal-dialog modal-fullscreen modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-body">

                <div class="container d-flex justify-content-center">
                    <form>
                        <div class="row row1">
                            <div class="col-6 col1">
                                <label>Pasturization Date</label>
                            </div>
                            <div class="col-6 col1">
                                <input type="date" name="pasturization_date" id="pasturization_date" [(ngModel)]="createPasturizationModal.pasturization_date">
                            </div>
                        </div>

                        <div class="row row1">
                            <div class="col-6 col1">
                                <label for="country">Pre Result</label>
                            </div>
                            <div class="col-6 col1">

                                <select name="pre_result" id="pre_result" [(ngModel)]="createPasturizationModal.pre_result">
                                    <option value=true>Pass</option>
                                    <option value=false>Fail</option>
                                  </select>

                            </div>

                        </div>
                        <div class="row row1">
                            <div class="col-6 col1">
                                <label>Pooling</label>
                            </div>
                            <div class="col-6 col1">
                                <input type="text" name="pooling" placeholder="Select Pool" [(ngModel)]="createPasturizationModal.pooling">
                            </div>
                        </div>
                    </form>
                </div>



                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" (click)="pasturizationForm.hide()">Close</button>
                    <button type="button" class="btn btn-primary" (click)="createPasturization()">Save changes</button>
                </div>

            </div>
        </div>
    </div>











    <!-- 
<div class="container d-flex justify-content-center">
    <form>
        <div class="row row1">
            <div class="col-6 col1">
                <label>Pasturization Date</label>
            </div>
            <div class="col-6 col1">
                <input type="text" name="donor" id="donor" (click)="pasturizationForm()">


                <div class="modal fade" bsModal #pasturizationForm="bs-modal" tabindex="-1" role="dialog" aria-labelledby="dialog-static-name" [config]="{ keyboard: false, backdrop: 'static'}">
                    <div class="modal-dialog modal-fullscreen modal-dialog-centered">
                        <div class="modal-content text-center">
                            <div class="modal-body">
                                <div class="py-5">
                                    <input style="width: 80%;" type="text" name="search" placeholder="search here" [(ngModel)]="term">
                                </div>
                                <div class="table-responsive-sm">
                                    <table class="table table-hover table-striped">
                                        <thead>
                                            <tr>

                                                <th *ngFor="let header of pasturizationHeader; index as i">
                                                    {{header}}
                                                </th>
                                                <th></th>
                                                <th>Pasturization Date</th>
                                                <th>Pre Result</th>
                                                <th>Post Result</th>
                                                <th>Pooling</th> -->
    <!-- </tr>
    </thead>

    <tbody>
        <tr *ngFor="let data of pasturizationData|filter:term">
            <td>
                <input type="radio" id="html" name="id" value="id">
            </td>
            <td>{{data.pasturization_date}}</td>
            <td>{{data.pre_result}}</td>
            <td>{{data.pooling}}</td>

        </tr>
    </tbody>
    </table>
</div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="pasturizationForm.hide()" data-bs-dismiss="modal">Close</button>
    <button type="button" class="btn btn-primary">Save changes</button>
</div>

</div>
</div>
</div>
</div>
</div>

<div class="row row1">
    <div class="col-6 col1">
        <label>Pre Result</label>
    </div>
    <div class="col-6 col1">
        <input type="text" name="donor" id="donor" (click)="donorDetailModal.show()">
        <div class="modal fade" bsModal #pasturizationForm="bs-modal" tabindex="-1" role="dialog" aria-labelledby="dialog-static-name" [config]="{ keyboard: false, backdrop: 'static'}">
            <div class="modal-dialog modal-fullscreen modal-dialog-centered">
                <div class="modal-content text-center">
                    <div class="modal-body">
                        <div class="col-sm">
                            <input type="text" name="search" placeholder="search here" [(ngModel)]="term">
                        </div>

                        <table class="table table-hover table-striped ">
                            <thead>
                                <tr>
                                    <th></th>
                                    <th>Pasturization Date</th>
                                    <th>Pre Result</th>
                                    <th>Post Result</th>
                                    <th>Pooling</th>

                                </tr>
                            </thead>

                            <tbody>
                                <tr *ngfor="let p of Donor |filter:term">
                                    <td>
                                        <input type="radio" id="html" name="id" value="id">
                                    </td>
                                    <td>{{p.pasturization_date}}</td>
                                    <td>{{p.pre_result}}</td>
                                    <td>{{p.post_result}}</td>
                                    <td>{{p.pooling}}</td>

                                </tr>
                            </tbody>
                        </table>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" (click)="donorDetailModal.hide()" data-bs-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary">Save changes</button>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

<div class="row row1">
    <div class="col-6 col1">
        <label>Post Result </label>
    </div>
    <div class="col-6 col1">
        <input type="text" name="post_result" placeholder="post result">
    </div>
</div>
<div class="row row1">
    <div class="col-6 col1">
        <label>Pooling</label>
    </div>
    <div class="col-6 col1">
        <input type="text" name="pooling" placeholder="pooling">
    </div>
</div>


</form>
</div> -->