<div class="container-fluid">
    <div class="col-12 col2 py-4">
        <button class="btn openCollectionBtn" (click)="openCollectionForm()"><i class="fa fa-plus"
                aria-hidden="true"></i> New Pasturization</button>
    </div>

    <div class="table-responsive">
        <div class="collection-table">
            <table class="table table-bordered table-hover text-start">
                <thead>
                    <tr class="px-4 pastTableHead">
                        <!-- <th *ngFor="let header of pasturizationHeader; index as i" class="px-4 pastTableHead">
                            {{header}}
                        </th> -->
                        <th>Pasturization Date</th>
                        <th>Pre Result</th>
                        <th>Post Result</th>
                        <th>pooling</th>
                    </tr>
                </thead>

                <tbody>
                    <tr *ngFor="let data of pasturizationData | filter:searchString">
                        <td class="px-4">{{data.pasturization_date}}</td>
                        <td class="px-4 pre_result" *ngIf="data.pre_result != null">{{pre_result}}
                            <span *ngIf="data.pre_result == true else notAcceptable">
                                Growth
                            </span>
                            <ng-template #notAcceptable>
                                <span *ngIf="data.pre_result != null">
                                    No Growth
                                </span>
                            </ng-template>
                        </td>

                        <td class="px-4">{{data.post_result}}</td>
                        <td class="px-4">{{data.pool}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>