<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
    <div class="container-fluid nav-holder">
        <a class="navbar-brand logo1" href="#">LOGO</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
           <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">About Us</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Donate Milk</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Need Milk</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Success Stories</a>
                </li>
                <li class="nav-item ">
                    <a (click)="navigateToLogin()" class="nav-link loginButton">Login/Register</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="banner-parent-container" style="background-image: url(assets/home-image.jpg);"></div>

<div class="card moto-tagline">
    <div class="card-body">
        <h5 class="card-title">MAKING A DIFFERENCE</h5>
        <p class="card-text">
            We’re advocating for the development of a local human breast milk bank in Saskatchewan, and we need your support. Please contact us if you can volunteer or advocate for this growing and valuable service.
        </p>
        <button class="btn-moto-tagline" (click)="navigateToLogin()">
            <img src="assets/heart-svg.svg" alt="">
            Donate Milk
        </button>
    </div>
</div>

<div class="container align-items-center">
    <div class="whyDonate">
        <h4 class="head-whyDonate">Why Donate?</h4>
        <div class="why-donate-content">
            <p class="p-whyDonate">
                All babies benefit from human breast milk. But for medically fragile or premature infants,<br /> breast milk is even more critical. Even life saving.<br />
            </p>
            <p class="p-whyDonate">
                That’s where we come in. The Lacta-Care Human Breast Milk Bank is advocates for the <br /> provision of lifesaving breast milk for premature babies, a critical service for families in our<br />community.
            </p>
        </div>
        <div class="d-flex justify-content-center">
            <div class="col-8 align-self-center">
                <div class="row heart-line">
                    <div class="col-4 line"></div>
                    <div class="col-2">
                        <img class="why-donate-heart" src="assets/heart-y-donate.svg" />
                    </div>
                    <div class="col-4 line"></div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container doctor-recipient text-center">
    <h4 class="card-title">
        What our Donors and Recipients are saying...
    </h4>
    <div class="card-body">
        <div class="d-flex justify-content-start">
            <img class="quotes" src="assets/quote-begi.png" alt="">
        </div>
        <div>
            <p class="para2">
                My son's mother was unable to breast feed and NYMB not only made sure that breast milk was readily available for my son, but maintained such a personal relationship with me that they became like family. My son, born one month premature, has been able
                to grow and thrive so miraculously. NYMB has truly been guardian angels in the lives of my family.
            </p>
            <div class="Source-Title">
                -John <span class="text-secondary" style="color: #7E7CA8;">(Recipient)</span>
            </div>
        </div>
        <div class="d-flex justify-content-end">
            <img class="quotes" src="assets/quote-end.png" alt="">
        </div>
    </div>
</div>

<footer>
    <div class="container footer-container">

        <div class="row">
            <div class="col-sm-12 col-md-4 col-lg-4">
                <ul class="footer-list">
                    <li>Home</li>
                    <li>About Us</li>
                    <li>Donate Milk</li>
                    <li>Need Milk</li>
                    <li>Success Stories</li>
                </ul>
            </div>
            <div class="cnol-sm-12 col-md-4 col-lg-4">
                <ul class="footer-list">
                    <li class="footer-list-header">Get In Touch</li>
                    <li class="li-get-in-touch">
                        <img class="footer-icon" src="assets/location.svg" alt="footer-icon-location"> 377 Elliot St, Newton Upper Falls,MA 02464
                    </li>
                    <li class="li-get-in-touch">
                        <img class="footer-icon" src="assets/telephone.svg" alt="footer-icon-location"> 914-202-3358
                    </li>
                    <li class="li-get-in-touch">
                        <img class="footer-icon" src="assets/mail.svg" alt="footer-icon-location"> info@lactacare.com
                    </li>
                </ul>

            </div>
            <div class="col-sm-12 col-md-4 col-lg-4">
                <ul class="footer-list">
                    <li class="footer-list-header">
                        Connect
                    </li>
                    <li>
                        <div class="d-flex footer-contact-icons">
                            <div>
                                <img class="footer-icon" src="assets/facebook.svg" alt="facebook">
                            </div>
                            <div>
                                <img class="footer-icon" src="assets/linkedin.svg" alt="linkedin">
                            </div>
                            <div>
                                <img class="footer-icon" src="assets/twitter.svg" alt="twitter">
                            </div>
                        </div>
                    </li>
                </ul>
            </div>

        </div>


        <div class="row footer-misc-cpyrgt">
            <div class="col-sm-12 col-md-1 col-lg-2 footer-misc">
                Staff Login
            </div>
            <div class="col-sm-12 col-md-1 col-lg-2 footer-misc-bord">
                Terms of Use
            </div>
            <div class="col-sm-12 col-md-1 col-lg-2 footer-misc-bord">
                Privacy Policy
            </div>
            <div class="col-sm-12 col-md-9 col-lg-6 footer-cpyrgt">
                <img class="footer-icon" src="assets/copyright.svg" alt="footer-icon-location"> 2021 Lacta-Care.All rights reserved.
            </div>
        </div>

    </div>
</footer>




<!-- footer -->