<mat-stepper linear #stepper>
    <!-- #docregion editable -->
    <!--DONERS INFORMATION-->
    <mat-step [stepControl]="firstFormGroup" [editable]="isEditable">

        <div class="heading1">
            <span>
                <h4 style="font-size:21px; font-weight:500">DONOR'S INFORMATION</h4>
                <P>Please provide necessary information to register as a Donor.</P>
                <hr>
            </span>
        </div>

        <!-- #enddocregion editable -->
        <form [formGroup]="firstFormGroup" (ngSubmit)="submitDonorRegistration()">
            <!-- #docregion step-label -->
            <ng-template matStepLabel>DONOR'S INFORMATION</ng-template>
            <div class="d-flex justify-content-center">
                <div class="">
                    <div class="row row1">
                        <div class="col-6">
                            <label>Full Name*</label>
                        </div>
                        <div class="col-6">
                            <input type="text" placeholder="" formControlName="fullName">
                        </div>
                    </div>


                    <div class="row  row1">
                        <div class="col-6">
                            <label>Date of Birth*</label>
                        </div>
                        <div class="col-6">
                            <input placeholder="DD/MM/YY" class="textbox-n" type="text" onfocus="(this.type='date')" id="date" formControlName="DOB" [ngClass]="{ 'is-invalid': firstFormGroupSubmitted && f.DOB.errors }">
                            <div *ngIf="f.DOB.errors" class="invalid-feedback">
                                <div *ngIf="f.DOB.errors.required">Date Of Birth required</div>
                            </div>
                        </div>
                    </div>

                    <div class="row  row1">
                        <div class="col-6">
                            <label>Type of Delivery*</label>
                        </div>
                        <div class="col-6">
                            <select id="Select1" class="input-large" aria-label="Default select example" formControlName="TOD" [ngClass]="{ 'is-invalid': firstFormGroupSubmitted && f.TOD.errors }">

                                <option value="1">Normal</option>
                                <option value="2">C-Section</option>
                                <option value="3">Water Delivery</option>
                                <option value="3">Lamaze Technique</option>
                                <option value="3">Bradley Method</option>
                                <option value="3">Hypnosis</option>
                            </select>

                            <div *ngIf="f.TOD.errors" class="invalid-feedback">
                                <div *ngIf="f.TOD.errors.required">Select Type Of Delivery</div>
                            </div>
                        </div>
                    </div>

                    <div class="row  row1">
                        <div class="col-6">
                            <label>Date of Delivery*</label>
                        </div>
                        <div class="col-6">
                            <input placeholder="DD/MM/YY" class="textbox-n" type="text" onfocus="(this.type='date')" id="date" formControlName="DOD" [ngClass]="{ 'is-invalid': firstFormGroupSubmitted && f.DOD.errors }">
                            <div *ngIf="f.DOB.errors" class="invalid-feedback">
                                <div *ngIf="f.DOB.errors.required">Select Date of Delivery</div>
                            </div>
                        </div>
                    </div>

                    <div class="row  row1">
                        <div class="col-6">
                            <label>Contact Number*</label>
                        </div>
                        <div class="col-6">
                            <input type="number" placeholder="" formControlName="contactNumber" [ngClass]="{ 'is-invalid': firstFormGroupSubmitted && f.contactNumber.errors }">
                            <div *ngIf="f.contactNumber.errors" class="invalid-feedback">
                                <div *ngIf="f.contactNumber.errors.required">Contact number required</div>
                            </div>
                        </div>
                    </div>

                    <div class="row  row1">
                        <div class="col-6">
                            <label>Type of Document*</label>
                        </div>
                        <div class="col-6">
                            <select id="Select1" class="input-large" aria-label="Default select example" formControlName="documentType" [ngClass]="{ 'is-invalid': firstFormGroupSubmitted && f.documentType.errors }">

                                <option value="1">Aadhar Card</option>
                                <option value="2">Voter Card</option>
                                <option value="3">Passport</option>
                                <option value="4">Pan Card</option>
                            </select>
                            <div *ngIf="f.documentType.errors" class="invalid-feedback">
                                <div *ngIf="f.documentType.errors.required">Document Type required</div>
                            </div>
                        </div>
                    </div>

                    <div class="row  row1">
                        <div class="col-6">
                            <label>Document Number</label>
                        </div>
                        <div class="col-6">
                            <input type="text" placeholder="" formControlName="documentNumber" [ngClass]="{ 'is-invalid': firstFormGroupSubmitted && f.documentNumber.errors }">
                            <div *ngIf="f.documentNumber.errors" class="invalid-feedback">
                                <div *ngIf="f.documentNumber.errors.required">Document number required</div>
                            </div>
                        </div>
                    </div>

                </div>
                <!-- end of container -->
            </div>

            <div class="formsButton">
                <button mat-button matStepperNext id="btnTrial2" type="submit">NEXT
                    <img class="rightarrowButton" src="assets/arrow-left.svg" alt="Arrow Next" srcset="">
                </button>
            </div>
        </form>
    </mat-step>
    <!--END OF DONORS INFORMATION-->

    <!--CONTACT INFO-->
    <mat-step [stepControl]="secondFormGroup" [editable]="isEditable">
        <div class="heading2">
            <h4 style="font-size:21px; font-weight:500">CONTACT INFORMATION</h4>
            <P>Please provide necessary information.</P>
            <hr>
        </div>
        <form [formGroup]="secondFormGroup" (ngSubmit)="saveContactInformation()">
            <ng-template matStepLabel>CONTACT INFORMATION</ng-template>
            <div class="d-flex justify-content-center">
                <div class="">
                    <div class="row row1">
                        <div class="col-6">
                            <label>Contact number*</label>
                        </div>
                        <div class="col-6">
                            <input type="text" formControlName="contactNumber" name="contactNumber" [ngClass]="{ 'is-invalid': secondFormGroupSubmitted && s.contactNumber.errors }" required>
                            <div *ngIf="s.contactNumber.errors" class="invalid-feedback">
                                <div *ngIf="s.contactNumber.errors.required">Contact number required</div>
                            </div>
                        </div>
                    </div>
                    <div class="row row1">
                        <div class="col-6">
                            <label>Address*</label>
                        </div>
                        <div class="col-6">
                            <input type="text" formControlName="address" name="address" [ngClass]="{ 'is-invalid': secondFormGroupSubmitted && s.address.errors }" required>
                            <div *ngIf="s.address.errors" class="invalid-feedback">
                                <div *ngIf="s.address.errors.required">Address required</div>
                            </div>
                        </div>
                    </div>

                    <div class="row row1">
                        <div class="col-6">
                            <label>City*</label>
                        </div>
                        <div class="col-6">
                            <input type="text" formControlName="city" name="city" [ngClass]="{ 'is-invalid': secondFormGroupSubmitted && s.city.errors }" required>
                            <div *ngIf="s.city.errors" class="invalid-feedback">
                                <div *ngIf="s.city.errors.required">City required</div>
                            </div>
                        </div>
                    </div>

                    <div class="row row1">
                        <div class="col-6">
                            <label>Taluka*</label>
                        </div>
                        <div class="col-6">
                            <input type="text" formControlName="talkua" name="talkua" [ngClass]="{ 'is-invalid': secondFormGroupSubmitted && s.talkua.errors }" required>
                            <div *ngIf="s.talkua.errors" class="invalid-feedback">
                                <div *ngIf="s.talkua.errors.required">Talkua required</div>
                            </div>
                        </div>
                    </div>

                    <div class="row row1">
                        <div class="col-6">
                            <label>District*</label>
                        </div>
                        <div class="col-6">
                            <input type="text" formControlName="district" name="district" [ngClass]="{ 'is-invalid': secondFormGroupSubmitted && s.district.errors }" required>
                            <div *ngIf="s.district.errors" class="invalid-feedback">
                                <div *ngIf="s.district.errors.required">District required</div>
                            </div>
                        </div>
                    </div>

                    <div class="row row1">
                        <div class="col-6">
                            <label>pincode*</label>
                        </div>
                        <div class="col-6">
                            <input type="text" formControlName="pincode" name="pincode" [ngClass]="{ 'is-invalid': secondFormGroupSubmitted && s.pincode.errors }" required>
                            <div *ngIf="s.pincode.errors" class="invalid-feedback">
                                <div *ngIf="s.pincode.errors.required">Pincode required</div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="formsButton">
                <button mat-button matStepperPrevious id="btnTrial">
                    <img class="leftarrowButton" src="assets/leftarrow.svg" alt="Arrow Back" srcset="">PREVIOUS
                </button>
                <button mat-button matStepperNext id="btnTrial2" type="submit">NEXT
                    <img class="rightarrowButton" src="assets/arrow-left.svg" alt="Arrow Next" srcset="">
                </button>
            </div>
        </form>
    </mat-step>
    <!--END OF CONTACT INFO-->

    <!--MEDICAL HISTORY-->
    <mat-step [stepControl]="thirdFormGroup" [editable]="isEditable">
        <div class="heading1">
            <h4 style="font-size:21px; font-weight:500">MEDICAL HISTORY</h4>
            <P>Please answer following questions.</P>

        </div>

        <form [formGroup]="thirdFormGroup" (ngSubmit)="medicalHistory()">
            <ng-template matStepLabel>MEDICAL HISTORY</ng-template>
            <div class="d-flex justify-content-center">
                <div class="col-xsm-12 col-sm-12 col-md-12 col-lg-9">
                    <div class="row">
                        <div class="col-7 medicalHistory">
                            <span>Cigarettes/tobacco form of nicotine/alcohol consumption in past 6*</span>
                        </div>
                        <div class="col-3 medicalHistory">
                            <mat-radio-group aria-label="Select an option" formControlName="nicotineAlcohol" name="nicotineAlcohol" placeholder="" required>
                                <mat-radio-button value="yes">Yes</mat-radio-button>
                            </mat-radio-group>
                        </div>
                        <div class="col-2 medicalHistory">
                            <mat-radio-group aria-label="Select an option" formControlName="nicotineAlcohol" name="nicotineAlcohol" placeholder="" required>
                                <mat-radio-button value="no">No</mat-radio-button>
                            </mat-radio-group>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-7  medicalHistory">
                            <span>Received blood transfusion or transfusion of any component of blood ?*</span>
                        </div>
                        <div class="col-3 medicalHistory">
                            <mat-radio-group aria-label="Select an option" formControlName="bloodTransfusion" name="bloodTransfusion" placeholder="" required>
                                <mat-radio-button value="yes">Yes</mat-radio-button>
                            </mat-radio-group>
                        </div>
                        <div class="col-2 medicalHistory">
                            <mat-radio-group aria-label="Select an option" formControlName="bloodTransfusion" name="bloodTransfusion" placeholder="" required>
                                <mat-radio-button value="no">No</mat-radio-button>
                            </mat-radio-group>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-7  medicalHistory">
                            <span>Currently have fever or any rashes, especially around breast area ?*</span>
                        </div>
                        <div class="col-3 medicalHistory">
                            <mat-radio-group aria-label="Select an option" formControlName="feverRashes" name="feverRashes" placeholder="" required>
                                <mat-radio-button value="yes">Yes</mat-radio-button>
                            </mat-radio-group>
                        </div>
                        <div class="col-2 medicalHistory">
                            <mat-radio-group aria-label="Select an option" formControlName="feverRashes" name="feverRashes" placeholder="" required>
                                <mat-radio-button value="no">No</mat-radio-button>
                            </mat-radio-group>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-7  medicalHistory ">
                            <span>Sufering from any other acute illness ?*</span>
                        </div>
                        <div class="col-3 medicalHistory">
                            <mat-radio-group aria-label="Select an option" formControlName="acuteDisease" name="acuteDisease" placeholder="" required>
                                <mat-radio-button value="yes">Yes</mat-radio-button>
                            </mat-radio-group>
                        </div>

                        <div class="col-2 medicalHistory">
                            <mat-radio-group aria-label="Select an option" formControlName="acuteDisease" name="acuteDisease" placeholder="" required>
                                <mat-radio-button value="no">No</mat-radio-button>
                            </mat-radio-group>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-7  medicalHistory">
                            <span>Test Reports within last 6 months for HIV, HBAg
                                and VDRL available*</span>
                        </div>
                        <div class="col-3  medicalHistory">
                            <mat-radio-group aria-label="Select an option" formControlName="hivHbagDisease" name="hivHbagDisease" placeholder="" required>
                                <mat-radio-button value="yes">Yes</mat-radio-button>
                            </mat-radio-group>
                        </div>
                        <div class="col-2  medicalHistory">
                            <mat-radio-group aria-label="Select an option" formControlName="hivHbagDisease" name="hivHbagDisease" placeholder="" required>
                                <mat-radio-button value="no">No</mat-radio-button>
                            </mat-radio-group>
                        </div>
                        <span style="font-size: 20px;color:#7E7CA8;padding-top:35px">If yes. Please upload HIV, HBsAg
                            and VDR reports*</span>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="d-flex justify-content-center">
                    <div class="col-10 uploadFile">
                        <div class="d-flex flex-column pt-3">
                            <!-- <img class="uploadDocImg" src="assets/cloud-computing-svgrepo-com (1).svg" alt="cloud-image"> -->
                            <app-drop-file></app-drop-file>
                        </div>
                    </div>
                </div>
            </div>

            <div class="formsButton">
                <button mat-button matStepperPrevious id="btnTrial">
                    <img class="leftarrowButton" src="assets/leftarrow.svg" alt="Arrow Back" srcset="">PREVIOUS
                </button>
                <button mat-button matStepperNext id="btnTrial2">NEXT
                    <img class="rightarrowButton" src="assets/arrow-left.svg" alt="Arrow Next" srcset="">
                </button>
            </div>
        </form>
    </mat-step>
    <!--END OF MEDICAL HISTORY-->

    <!--FEEDBACK-->
    <mat-step [stepControl]="fourthFormGroup">
        <div class="heading2 text-center">
            <h4 style="font-size:21px; font-weight:500">CONSENT FORM</h4>
            <P>Please answer following questions.</P>
            <hr>
        </div>
        <form [formGroup]="fourthFormGroup">
            <ng-template matStepLabel>CONSENT FORM</ng-template>
            <div class="container">
                <div class="row">
                    <div class="d-flex justify-content-center">
                        <div class="col-12">
                            <span class="iagree">
                                I donor name am voluntarily donating my excess breast milk to hospital name. I hereby
                                agree that all the
                                medical reports I  are original. I hereby agree that all the
                                medical reports I
                                 are
                                original.
                                I donor name am voluntarily donating my excess breast milk to hospital name. I hereby
                                agree that all the
                                medical reports I  are original. I hereby agree that all the
                                medical reports I
                                 are
                                original.
                                I donor name am voluntarily donating my excess breast milk to hospital name. I hereby
                                agree that all the
                                medical reports.
                            </span>
                        </div>
                    </div>
                </div>
            </div>

            <section class="example-section" style="padding-top:35px;">
                <mat-checkbox class="example-margin" formControlName="fourthCtrl" required>I agree with the terms and conditions</mat-checkbox>
            </section>

            <div class="agree-terms-error" *ngIf="termsNotAccepted">
                Please agree terms and conditions to proceed
            </div>

            <div class="formsButton">
                <button mat-button matStepperPrevious id="btnTrial">
                    <img class="leftarrowButton" src="assets/leftarrow.svg" alt="Arrow Back" srcset="">PREVIOUS
                </button>
                <button mat-button matStepperNext id="btnTrial2" data-bs-toggle="modal" data-bs-target="#exampleModal" (click)="showModel()">NEXT
                    <img class="rightarrowButton" src="assets/arrow-left.svg" alt="Arrow Next">
                </button>
            </div>

        </form>
    </mat-step>
    <!--END OF FEEDBACK-->
</mat-stepper>

<!-- Modal -->
<div class="modal fade" bsModal #success="bs-modal" tabindex="-1" role="dialog" aria-labelledby="dialog-static-name" [config]="{ keyboard: false, backdrop: 'static'}">
    <div class="modal-dialog modal-md modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-body text-center">
                <div class="ThankYouDiv">
                    <img class="checkImg" src="assets/check-mark.svg" alt="Tick Mark Green">
                    <h1 class="ThankYou-head">Thank You !</h1>
                    <p class="ThankYou-para">Thank for your collabration.We have receive your submitted details.Please wait for approval.You will received mail regarding approval.</p>
                    <button type="button" (click)="navigateToHome()" class="backToHome">Back To Home</button>
                    <p class="thankyou-para2">if you have any issues<a href="#" class="contactUs">Contact us</a>
                    </p>
                </div>
            </div>

        </div>
    </div>
</div>