* {
    box-sizing: border-box;
}

 ::ng-deep .mat-step-icon-content span {
    color: #f25b87 !important;
}


/* icon-dark gar */

 ::ng-deep .mat-step-icon-content,
.mat-step-icon .mat-icon {
    color: darkgrey !important;
}

 ::ng-deep .mat-step-header .mat-step-icon-selected,
.mat-step-header .mat-step-icon-state-done,
.mat-step-header .mat-step-icon-state-edit {
    background-color: #fff !important;
    border: 2px solid #f25b87 !important;
}


/* ::ng-deep .mat-stepper-horizontal-line-selected {
   border-top-width: 1px !important;
   color: #f25b87 !important;
   background-color: #f25b87 !important;
 }     */

 ::ng-deep .mat-step-header .mat-step-icon {
    background-color: #fff;
    color: #fff;
    border: 2px solid #E5E5E5;
}

 ::ng-deep .mat-step-text-label {
    font-size: 18px;
}

 ::ng-deep .mat-horizontal-stepper-header-container {
    position: sticky;
    top: 0;
    background-color: #fff;
    padding-bottom: 20px;
    z-index: 1;
}

.heading1 {
    color: #0a2463;
    font-weight: 400;
    font-size: 20px;
    width: 70vw;
    margin-left: 80px;
}

.heading2 {
    color: #0a2463;
    font-weight: 400;
    font-size: 20px;
    width: 40vw;
    margin-left: 117px;
}

label {
    font-size: 20px;
    /* padding: 10px; */
    /* width: 240px; */
    text-align: left;
    color: #7E7CA8;
    letter-spacing: 1px;
    /* margin: 8px; */
}

form {
    text-align: center;
    background-color: #fff;
    height: 600px;
    padding-top: 20px;
}

input {
    width: 120%;
    padding: 8px;
    box-sizing: border-box;
    border: 1px solid #7E7CA8;
    border-radius: 20px;
    color: #7E7CA8;
    font-size: 20px;
}

#Select1 {
    width: 120%;
    padding: 8px;
    box-sizing: border-box;
    border: 1px solid #7E7CA8;
    border-radius: 20px;
    color: #7E7CA8;
    font-size: 20px;
    outline: 0;
}


/* .selectlabel{
   margin-right: 87px;
 } */

input:focus-visible {
    outline: 0;
}

.para1 {
    height: 43px;
    color: darkgrey;
}

.row {
    text-align: start;
    padding: 20px;
}

.col-7 {
    /* width: 50%; */
    font-size: 20px;
    color: #7E7CA8;
}

.col-3 {
    /* width: auto; */
    font-size: 20px;
    color: #7E7CA8;
    /* padding-left: 50px; */
}

.col-2 {
    font-size: 20px;
    color: #7E7CA8;
}

.mat-horizontal-content-container {
    overflow: hidden;
    padding: 0 8px 25px 5px !important;
}

.formsButton {
    margin-top: 107px;
    padding: 9px;
}


/* previous and next arrow */

#btnTrial {
    background-color: #fff;
    color: #f25b87;
    font-size: 23px;
    border: none;
    float: left;
}

#btnTrial2 {
    background-color: #fff;
    color: #f25b87;
    font-size: 23px;
    border: none;
    float: right;
}

.leftarrowButton {
    filter: invert(50%) sepia(40%) saturate(2329%) hue-rotate(310deg) brightness(98%) contrast(93%);
}

.rightarrowButton {
    filter: invert(50%) sepia(40%) saturate(2329%) hue-rotate(310deg) brightness(98%) contrast(93%);
}


/*end previous and next arrow */


/* i agree checkbox */

.iagree {
    font-size: 20px;
    margin-top: 57px;
    color: #7E7CA8;
    text-align: center;
}

.mat-checkbox {
    color: #7E7CA8;
    font-size: 19px;
}


/*end i agree checkbox */


/* upload file */


/* end upload file */

.row1 {
    text-align: start;
    padding: 10px;
}

@media only screen and (max-width: 992px) {
     ::ng-deep .mat-step-text-label {
        display: none;
    }
    .heading1 {
        margin-left: 0px;
    }
    .heading2 {
        margin-left: 0px;
        width: auto;
    }
    #btnTrial {
        background-color: #fff;
        color: #f25b87;
        font-size: 18px;
        border: none;
        float: left;
    }
    #btnTrial2 {
        background-color: #fff;
        color: #f25b87;
        font-size: 18px;
        border: none;
        float: right;
    }
    .leftarrowButton {
        height: 20px;
        width: 20px;
    }
    .rightarrowButton {
        height: 20px;
        width: 20px;
    }
     ::ng-deep.ngx-file-drop__drop-zone {
        border-radius: 30px;
        height: 180px !important;
        border: 2px dashed #BBBFC8 !important;
        width: 285px !important;
        background: #FFFFFF;
        border: 2px dashed #BBBFC8 !important;
        place-items: end;
    }
    .dragFile {
        padding-top: 106px;
    }
}