<div draggable="true" ngClass="{{dragAreaClass}}">
    <div class="row">
        <div class="col-md-12 text-center">
            <span class="dragFile">Drag files here to upload OR 
            <a href="javascript:void(0)" (click)="file.click()">
               <span class="browse">Browse</span>
            </a>
            </span>
            <input type="file" #file [multiple]="false" style="display:none" />
            <div class="dragged-files-wrapper" *ngIf="draggedFiles">
                <div class="file" *ngFor="let file of draggedFiles">
                    {{file}}
                </div>
            </div>
        </div>
    </div>
</div>
<div class="error" *ngIf="error">
    Only one file at time allow
</div>