<div class="container-fluid main-container">
    <div class="row">
        <div class="d-flex justify-content-center">
            <div class="col-md-6">
                <div class="p-3 py-0">
                    <div class="d-flex justify-content-between align-items-center mb-3">
                        <h4 class="text-right ProfileText">PERSONAL INFORMATION</h4>
                    </div>
                    <div class="row mt-3">
                        <div class="col-md-12 py-3"><label class="labels">FullName</label> : {{fullName}} </div>


                        <div class="col-md-12 py-3"><label class="labels">Contact Number</label> : {{contact}}</div>

                        <div class="col-md-12 py-3"><label class="labels">Email ID</label> : {{email_id}}</div>
                        <div class="col-md-12 py-3"><label class="labels">Date of Birth</label> : {{dob}}</div>
                    </div>
                </div>
            </div>



            <div class="col-md-6 ">
                <div class="p-3 py-0">
                    <div class="d-flex justify-content-between align-items-center mb-3">
                        <h4 class="text-right ProfileText">CONTACT INFORMATION</h4>
                    </div>

                    <div class="row mt-3">
                        <div class="col-md-12 py-3"><label class="labels">Address</label> : {{address}}</div>
                        <div class="col-md-12 py-3"><label class="labels">City</label> : {{city}}</div>
                        <div class="col-md-12 py-3"><label class="labels">Taluka</label> : {{taluka}}</div>
                        <div class="col-md-12 py-3"><label class="labels">Disrict</label> : {{district}}</div>

                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="heading1">
        <h4 style="font-size:21px; font-weight:500">MEDICAL HISTORY</h4>
        <P>Please answer following questions.</P>
    </div>
    <form>
        <div class="row">
            <div class="col-75">
                <label>Cigarettes/tobacco form of nicotine/alcohol consumption in past 6*</label>
            </div>
            <div class="col-25">
                <input type="text" id="fname" name="firstname" class="form-control">
            </div>
        </div>
        <div class="row">
            <div class="col-75">
                <label>Received blood transfusion or transfusion of any component of blood ?*</label>
            </div>
            <div class="col-25">
                <input type="text" id="lname" name="lastname" class="form-control">
            </div>
        </div>
        <div class="row">
            <div class="col-75">
                <label>Currently have fever or any rashes, especially around breast area ?*</label>
            </div>
            <div class="col-25">
                <input type="text" id="lname" name="lastname" class="form-control">
            </div>
        </div>
        <div class="row">
            <div class="col-75">
                <label>Sufering from any other acute illness ?*</label>
            </div>
            <div class="col-25">
                <input type="text" id="lname" name="lastname" class="form-control">
            </div>
        </div>
        <div class="row">
            <div class="col-75">
                <label>Test Reports within last 6 months for HIV, HBAg
                    and VDRL available*</label>
            </div>
            <div class="col-25">
                <input type="text" id="lname" name="lastname" class="form-control">
            </div>
        </div>
    </form>
    <div class="mt-5 text-center"><button class="btn btn-primary profile-button" type="button">Save Profile</button></div>
</div>
<!-- 
<div class="container">
    <div class="heading1">
        <h4 style="font-size:21px; font-weight:500">MEDICAL HISTORY</h4>
        <P>Please answer following questions.</P>
    </div>
    <form>
        <div class="row">
            <div class="col-75">
                <label>Cigarettes/tobacco form of nicotine/alcohol consumption in past 6*</label>
            </div>
            <div class="col-25">
                <input type="text" id="fname" name="firstname" class="form-control">
            </div>
        </div>
        <div class="row">
            <div class="col-75">
                <label>Received blood transfusion or transfusion of any component of blood ?*</label>
            </div>
            <div class="col-25">
                <input type="text" id="lname" name="lastname" class="form-control">
            </div>
        </div>
        <div class="row">
            <div class="col-75">
                <label>Currently have fever or any rashes, especially around breast area ?*</label>
            </div>
            <div class="col-25">
                <input type="text" id="lname" name="lastname" class="form-control">
            </div>
        </div>
        <div class="row">
            <div class="col-75">
                <label>Sufering from any other acute illness ?*</label>
            </div>
            <div class="col-25">
                <input type="text" id="lname" name="lastname" class="form-control">
            </div>
        </div>
        <div class="row">
            <div class="col-75">
                <label>Test Reports within last 6 months for HIV, HBAg
                    and VDRL available*</label>
            </div>
            <div class="col-25">
                <input type="text" id="lname" name="lastname" class="form-control">
            </div>
        </div>
    </form>
    <div class="mt-5 text-center"><button class="btn btn-primary profile-button" type="button">Save Profile</button></div>
</div> -->