* {
    user-select: none;
}

header {
    height: 65px;
    display: flex;
    align-items: center;
    padding-left: 50px;
    background: #FFFFFF;
    box-shadow: 0px 0.5px 4px rgba(0, 0, 0, 0.25);
    left: 0;
}

.sidebar {
    background: #10467E;
    padding-top: 30px;
    position: fixed;
    left: 0;
    width: 250px;
    height: 100%;
    transition: 0.5s;
    transition-property: left;
    z-index: 1;
}

.sidebar a {
    color: #fff;
    display: block;
    width: 100%;
    line-height: 60px;
    text-decoration: none;
    padding-left: 40px;
    box-sizing: border-box;
    transition: 0.5s;
    transition-property: background;
    font-size: 20px;
}


/* 
.sidebar a:hover {
    background: #7B61FF;
} */

.sidebar i {
    padding-right: 10px;
}

label #sidebar_btn {
    color: #7E7CA8;
    cursor: pointer;
    font-size: 25px;
}

#check:checked~.sidebar {
    left: -190px;
}

#check:checked~.sidebar a span {
    display: none;
}

#check:checked~.sidebar a {
    font-size: 20px;
    margin-left: 170px;
    width: 80px;
}

#check {
    display: none;
}

.content {
    margin-left: 250px;
    transition: 0.5s;
}

#check:checked~.content {
    margin-left: 60px;
}

.screenTitle {
    font-family: DM SansSce Medium;
    font-style: normal;
    font-weight: 600;
    font-size: 26px;
    line-height: 35px;
    padding-left: 42px;
}

.active {
    background: #7B61FF;
}

@media only screen and (max-device-width: 480px) {
    #sidebar_btn {
        position: fixed;
    }
    .content {
        margin-left: 0px !important;
    }
    #check:checked~.sidebar {
        left: -90vw;
    }
}