<div class="container-fluid">
    <div class="row">
        <div class="col-sm-auto bg-light sticky-top side-nav ">
            <div class="d-flex flex-sm-column flex-row flex-nowrap bg-light sticky-top">

                <a class="navbar-brand logo1" href="#">LOGO</a>

                <ul class="nav nav-pills nav-flush flex-sm-column flex-row flex-nowrap mb-auto mx-auto">
                    <li class="nav-item">
                        <a href="#" class="nav-link" title="" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-original-title="Home">
                            <i class="fa fa-home"></i> Dashboard
                        </a>
                    </li>

                    <li class="nav-item">
                        <a href="#" class="nav-link" title="" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-original-title="Home">
                            <i class="fa fa-user"></i> Client
                        </a>
                    </li>

                </ul>
            </div>
        </div>
        <div class="col-sm min-vh-100 p-0 m-0">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>