<div class="staff-main-container container-fluid p-0 m-0">
    <header>
        <div class="tophead">
            <div class="brandlogo">
                Lacto
            </div>
            <div>
                <span class="menulines" (click)="openNav()">&#9776;</span>
            </div>
        </div>
    </header>

    <div class="sidenav" id="mySidenav">
        <a href="javascript:void(0)" class="closebtn" (click)="closeNav()">
            &times;
        </a>
        <a (click)="routeAndClose('dashboard')">Dashboard</a>
        <a (click)="routeAndClose('raw-collection')">Raw Collection</a>
        <a (click)="routeAndClose('pooling')">Pooling</a>
        <a (click)="routeAndClose('pasturization')">Pasturization</a>
        <a (click)="routeAndClose('logout')">Logout</a>
    </div>

    <div class="mainpart">
        <router-outlet></router-outlet>
    </div>
</div>