<input type="checkbox" id="check">

<header>
    <label for="check">
          <i class="fas fa-bars"id="sidebar_btn"></i>
    </label>
    <label class="screenTitle">
            {{screenTitle}}
    </label>

</header>

<div class="sidebar">
    <a (click)="routeAndClose('dashboard')"><img src="assets/Dashboard-Icon.svg" alt="Dashboard-Icon"><span> Dashboard</span></a>
    <a (click)="routeAndClose('raw-collection')"><img src="assets/Raw-Collection-Icon.svg" alt="Raw-Collection-Icon">
        <span style="margin-left: 3px;"> Raw Collection</span></a>
    <a (click)="routeAndClose('pooling')"><img src="assets/pooling-icon.svg" alt="Pooling-Icon"><span> Pooling</span></a>
    <a (click)="routeAndClose('pasturization')"><img src="assets/pasturization-icon.svg" alt="Pasturization-Icon"><span> Pasturization</span></a>
    <a (click)="routeAndClose('bottling')"><img src="assets/bottling.svg" alt="Bottling-icon"><span> Bottling</span></a>
    <a (click)="routeAndClose('logout')"><img src="assets/logout-icon.svg" alt="Logout-Icon">
        <span style="margin-left: 3px;">Logout</span></a>
</div>
<div class="content">

    <router-outlet></router-outlet>
</div>
<!-- </div> -->