<div class="row p-0 m-0">
    <div class="col-sm-12 col-md-12 col-lg-5 p-0 m-0" id="col-img" style=" background-image: url(assets/mom-baby.jpg);">
        <div class="img-gradient"></div>
    </div>

    <div class="col-sm-12 col-md-12 col-lg-7">
        <i class="fa fa-chevron-left fa-3x" aria-hidden="true" (click)="navigateToHome()"></i>
        <div class="container" id="form-container">
            <h1 class="login-head">Join Us</h1>
            <form [formGroup]="registrationFormGroup" (ngSubmit)="createUser()">
                <p class="p-0 m-0">
                    <mat-form-field appearance="outline" [color]="textFieldColor">
                        <mat-label>Full Name</mat-label>
                        <input matInput placeholder="Full Name" formControlName="fullName" required />
                    </mat-form-field>
                </p>

                <p class="p-0 m-0">
                    <mat-form-field appearance="outline" [color]="textFieldColor">
                        <mat-label>Email</mat-label>
                        <input matInput placeholder="Email" type="email" formControlName="email" required />
                    </mat-form-field>
                </p>

                <p class="p-0 m-0">
                    <mat-form-field appearance="outline" [color]="textFieldColor">
                        <mat-label>Phone Number</mat-label>
                        <input matInput placeholder="Phone Number" formControlName="phoneNumber" required />
                    </mat-form-field>
                </p>

                <p class="p-0 m-0">
                    <mat-form-field appearance="outline" [color]="textFieldColor">
                        <mat-label>Create Username</mat-label>
                        <input matInput placeholder="Username" formControlName="username" required />
                    </mat-form-field>
                </p>

                <p class="p-0 m-0">
                    <mat-form-field appearance="outline" [color]="textFieldColor">
                        <mat-label>Create Password</mat-label>
                        <input matInput placeholder="Password" [type]="hide ? 'password' : 'text'" formControlName="password" required>
                        <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </mat-form-field>

                </p>

                <p class="p-0 m-0 ">
                    <mat-form-field appearance="outline" [color]="textFieldColor">
                        <mat-label>Conform Password</mat-label>
                        <input matInput placeholder="Confirm Password" [type]="hide1 ? 'password' : 'text'" formControlName="confirmPassword" required>
                        <mat-icon matSuffix (click)="hide1 = !hide1">{{hide1 ? 'visibility_off' : 'visibility'}}
                        </mat-icon>
                    </mat-form-field>
                </p>

                <section class="example-section">
                    <mat-checkbox name="isTermsAndConditionAgreed" formControlName="isTermsAndConditionAgreed" class="example-margin">I agree to the <a href="#">Terms of Use</a> and <a href="#">Privacy
                    policy</a></mat-checkbox>
                </section>

                <button type="submit" class="btn-login mt-3 mb-5">Register</button>
            </form>



            <p class="invalid-message" *ngIf="invalidUsernamePassword">{{message}}</p>

            <p class="p-login-here" (click)="navigateToLogin()">Already have an Account? <a>Login</a></p>

        </div>

    </div>
</div>

<!-- User Created -->
<div class="modal fade" bsModal #success="bs-modal" tabindex="-1" role="dialog" aria-labelledby="dialog-static-name" [config]="{ keyboard: false, backdrop: 'static'}">
    <div class="modal-dialog modal-sm modal-dialog-centered">
        <div class="modal-content text-center">
            <div class="modal-body">

                <img src="assets/check-mark.svg" alt="check-mark">

                <p class="user-created-p">Donor registered successfully.</p>

                <p class="user-created-p">
                    <a href="">Login in to continue..</a>
                </p>

            </div>
        </div>
    </div>
</div>