/* You can add global styles to this file, and also import other style files */

@font-face {
    font-family: DM SansSce Regular;
    src: url(assets/DM_Sans/DMSans-Regular.ttf) format("truetype");
}


/* @font-face {
    font-family: DM SansSce Bold;
    src: url(assets/DM_Sans/DMSans-Bold.ttf) format("truetype");
} */

@font-face {
    font-family: DM SansSce Medium;
    src: url(assets/DM_Sans/DMSans-Medium.ttf) format("truetype");
}

html,
body {
    height: 100%;
}


/* body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
 */