<div class="container-fluid">
    <div class="col-12 col2 py-4">
        <button class="btn openCollectionBtn" (click)="bottlingForm.show()">
                <i class="fa fa-plus" aria-hidden="true"></i> New Bottle</button>
    </div>

    <div class="table-responsive">
        <div class="collection-table">
            <table class="table table-bordered table-hover">
                <thead>
                    <tr class="bottelRow">
                        <th class="px-4">
                            Id
                        </th>
                        <th class="px-4">
                            Bottling Date
                        </th>
                        <th class="px-4">
                            Volume
                        </th>
                        <th class="px-4">
                            Pasturization
                        </th>
                    </tr>
                </thead>

                <tbody>
                    <tr *ngFor="let data of bottleData | filter:searchString">
                        <td class="px-4">{{data.id}}</td>
                        <td class="px-4">{{data.bottling_date}}</td>
                        <td class="px-4">{{data.volume}}</td>
                        <td class="px-4">{{data.pasturization}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<div class="modal fade" bsModal #bottlingForm="bs-modal" tabindex="-1" role="dialog" aria-labelledby="dialog-static-name" [config]="{ keyboard: false, backdrop: 'static'}">
    <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-body">
                <div class="heading1">
                    <span>
                        <h4 class="bottleHead">Add New Bottles:</h4>
                        <P class="bottleHead-p">Please Select and Fill Required Information.</P>
                        <hr>
                    </span>
                </div>
                <div class="container d-flex justify-content-center">
                    <form>
                        <div class="row row1">

                            <div class="col-12 col1">
                                <input type="text" name="pasturization_id" id="pasturization_id" placeholder="Select Pasturization" [(ngModel)]="createBottlingModal.pasturization_id" (focus)="pasturizationModal.show()">
                            </div>
                        </div>

                        <div class="row row1">

                            <div class="col-12 col1">
                                <input type="date" name=" date_added" id="date_added" placeholder="Date Added" [(ngModel)]="createBottlingModal.date_added" class="textbox-n" type="text" onfocus="(this.type = 'date')" id="date">
                            </div>

                        </div>

                        <div class="row row1">

                            <div class="col-12 col1">
                                <input type="text" name="staff" id="staff" placeholder="Staff" [(ngModel)]="selectedStaffName" (focus)="staffDetailModal.show()">
                            </div>
                        </div>
                    </form>
                </div>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-lg modalBtn1" data-bs-dismiss="modal" (click)="bottlingForm.hide()">Close</button>
                <button type="button" class="btn btn-lg modalBtn2" (click)="getPasturizationPool()">Create</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" bsModal #pasturizationModal="bs-modal" tabindex="-1" role="dialog" aria-labelledby="dialog-static-name" [config]="{ keyboard: false, backdrop: 'static'}">
    <div class="modal-dialog modal-fullscreen modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-body text-center">
                <div class="col-sm py-5">
                    <input type="text" name="search" placeholder="search here" [(ngModel)]="searchString" style="border-radius: 30px; font-weight: 100;">
                    <i class="fa fa-search" aria-hidden="true"></i>
                </div>

                <div class="table-responsive">
                    <div class="collection-table">
                        <table class="table table-bordered table-hover text-start">
                            <thead>
                                <tr class="bottelRow">
                                    <th class="px-4"></th>
                                    <th class="px-4">Id</th>
                                    <th class="px-4">Pasturization Date</th>
                                    <th class="px-4">Post Result</th>
                                </tr>
                            </thead>

                            <tbody>
                                <tr *ngFor="let data of pasturizationData | filter:searchString">
                                    <td>
                                        <input type="radio" name="pasturization_id" id={{data.id}} [value]=data.id [(ngModel)]="pasturizationNativeId">
                                    </td>
                                    <td>{{data.id}}</td>
                                    <td class="px-4">{{data.pasturization_date | date:"dd/MM/yyyy "}}</td>
                                    <td class="px-4 pre_result" *ngIf="data.pre_result != null">
                                        <span *ngIf="data.pre_result == true else notAcceptable">
                                            Growth
                                        </span>
                                        <ng-template #notAcceptable>
                                            <span *ngIf="data.pre_result != null">
                                                No Growth
                                            </span>
                                        </ng-template>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-lg modalBtn1" (click)="pasturizationModal.hide()">Close</button>
                <button type="button" class="btn btn-lg modalBtn2" (click)="selectPasturization()">Select</button>
            </div>

        </div>
    </div>
</div>

<!-- for bottles -->
<div class="modal fade" bsModal #bottleModal="bs-modal" tabindex="-1" role="dialog" aria-labelledby="dialog-static-name" [config]="{ keyboard: false, backdrop: 'static'}">
    <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-body">
                <div class="heading1">
                    <span>
                        <h4 class="bottleHead">Add New Bottles:</h4>
                        <P class="bottleHead-p">Please Select and Fill Required Information.</P>
                        <hr>
                    </span>
                </div>

                <div class="container d-flex justify-content-center">
                    <form>
                        <div class="row row1">

                            <div class="col-12 col1">
                                <input type="text" name="pooling_qty" id="pooling_qty" placeholder="Select Pool" [(ngModel)]="createBottlingModal.pool_id" (focus)="pasturizationPoolModal.show()">
                            </div>
                        </div>

                        <span>
                            <p class="totalVolume">Total Volume (ml) {{this.selectedPoolVolume}}</p>
                        </span>

                        <div class="row row1">

                            <div class="col-12 col1">
                                <input type="number" name="bottle_2" id="bottle_2" placeholder="Volume Per Bottle (ml)" [(ngModel)]="createBottlingModal.total_volume" (keyup)="calculateVolumePerBottle()">
                                <p *ngIf="valueLessThanZero"> Value must be greater than zero </p>
                            </div>
                        </div>

                        <div class="row row1">

                            <div class="col-12 col1">
                                <input type="number" name="bottle_1" id="bottle_1" placeholder="Total Bottles" [(ngModel)]="createBottlingModal.total_units">
                            </div>
                        </div>

                    </form>
                </div>


                <div class="modal-footer">
                    <button type="button" class="btn btn-lg modalBtn1" data-bs-dismiss="modal" (click)="bottleModal.hide()">Close</button>
                    <button type="button " class="btn btn-lg modalBtn2" (click)="createBottling()">Add</button>
                </div>

            </div>
        </div>
    </div>
</div>

<div class="modal fade" bsModal #staffDetailModal="bs-modal" tabindex="-1" role="dialog" aria-labelledby="dialog-static-name" [config]="{ keyboard: false, backdrop: 'static'}">
    <div class="modal-dialog modal-fullscreen modal-dialog-centered">
        <div class="modal-content text-center">
            <div class="modal-body">
                <div class="col-sm py-5">
                    <input type="text" name="search" placeholder="search here" [(ngModel)]="searchString" style="border-radius: 30px; font-weight: 100;">
                    <i class="fa fa-search" aria-hidden="true"></i>
                </div>
                <div class="table-responsive">
                    <table class="table table-hover table-bordered">
                        <thead>
                            <tr class="bottelRow">
                                <th></th>
                                <!-- <th *ngFor="let header of staffHeader; index as i">{{header}}</th> -->
                                <th>Hospital Id </th>
                                <th>Name</th>
                                <th>Contact</th>
                            </tr>
                        </thead>

                        <tbody>

                            <tr *ngFor="let p of staffData | filter : searchString">
                                <td>
                                    <input type="radio" id="html" name="rdo_id" value={{p.id}} [(ngModel)]="selectedStaff">
                                </td>
                                <td>{{p.hosp_id}}</td>
                                <td>{{p.staff_full_name}}</td>
                                <td>{{p.staff_contact}}</td>
                            </tr>
                        </tbody>
                    </table>

                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-lg modalBtn1" data-bs-dismiss="modal" (click)="staffDetailModal.hide()">Close</button>
                <button type="button" class="btn btn-lg modalBtn2" (click)="selectIdAndCloseStaffModal()">Select</button>
            </div>
        </div>
    </div>
</div>

<!-- Pasturization Pool Modal -->
<div class="modal fade" bsModal #pasturizationPoolModal="bs-modal" tabindex="-1" role="dialog" aria-labelledby="dialog-static-name" [config]="{ keyboard: false, backdrop: 'static'}">
    <div class="modal-dialog modal-fullscreen modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-body">
                <div class="col-sm text-center py-5">
                    <input type="text" name="search" placeholder="search here" [(ngModel)]="searchString" style="border-radius: 30px; font-weight: 100;">
                    <i class="fa fa-search" aria-hidden="true"></i>
                </div>

                <div class="table-responsive">
                    <div class="collection-table">
                        <table class="table table-striped table-hover text-start">
                            <thead>
                                <tr class="bottelRow">
                                    <th class="px-4"></th>
                                    <th class="px-4">Id</th>
                                    <th class="px-4">Mixing Date</th>
                                    <th class="px-4">Total Volume</th>
                                </tr>
                            </thead>

                            <tbody>
                                <tr *ngFor="let data of past_pool_obj?.pooling_obj | filter:searchString">
                                    <td>
                                        <input type="radio" name="pool_id" id={{data.id}} [value]=data.id [(ngModel)]="nativeSelectedPoolId">
                                    </td>
                                    <td>{{data.id}}</td>
                                    <td class="px-4">{{data.mixing_date | date:"dd/MM/yyyy "}}</td>
                                    <td class="px-4">{{data.total_volume}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-lg modalBtn1" (click)="pasturizationPoolModal.hide()">Close</button>
                <button type="button" class="btn btn-lg modalBtn2" (click)="selectPasturizationPoolModal()">Select</button>
            </div>

        </div>
    </div>
</div>