<div class="container-fluid">
    <div class="row row1">
        <h2 class="bottleHead">Bottling</h2>
        <div class="col-6 col1 py-4">
            <button class="btn openCollectionBtn" (click)="openCollectionForm()"><i class="fa fa-plus"
                aria-hidden="true"></i> New Bottle</button>
        </div>
        <div class="col-6 col1 py-4">
            <button class="btn openCollectionBtn" (click)=" showBottles()"><i class="fa fa-plus"
                aria-hidden="true"></i>Bottles</button>
        </div>
        <!-- 
        <div class="col-6 col1">
            <input type="text" name="search" style="height: 55px;" [(ngModel)]="searchString">
        </div> -->
    </div>
    <div class="table-responsive">
        <div class="collection-table">
            <table class="table table-striped table-hover">
                <thead>
                    <tr>
                        <th *ngFor="let header of bottleHeader; index as i" class="px-4">
                            {{header}}
                        </th>
                    </tr>
                </thead>

                <tbody>
                    <tr *ngFor="let data of bottleData | filter:searchString">
                        <td>
                            <input type="radio" id="rdo_id" name="rdo_id">
                        </td>
                        <td class="px-4">{{data.pasturization_date}}</td>
                        <td class="px-4">{{data.pre_result}}</td>
                        <td class="px-4">{{data.post_result}}</td>
                        <td class="px-4">{{data.pool_id}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>


    <div class="modal fade" bsModal #bottlingForm="bs-modal" tabindex="-1" role="dialog" aria-labelledby="dialog-static-name" [config]="{ keyboard: false, backdrop: 'static'}">
        <div class="modal-dialog modal-lg modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-body">

                    <div class="container d-flex justify-content-center">
                        <form>
                            <div class="row row1">
                                <div class="col-6 col1">
                                    <label>Pasturization Id</label>
                                </div>
                                <div class="col-6 col1">
                                    <input type="text" name="pasturization_id" id="pasturization_id" (click)="showBottelPool()" [(ngModel)]="createBottlingModal.pasturization_id">
                                </div>
                            </div>

                            <div class="row row1">
                                <div class="col-6 col1">
                                    <label>Date Added</label>
                                </div>
                                <div class="col-6 col1">
                                    <input type="date" name=" date_added" id="date_added" [(ngModel)]="createBottlingModal.date_added">
                                </div>

                            </div>

                            <!-- <div class="row row1">
                                <div class="col-6 col1">
                                    <label>Total Volume</label>
                                </div>
                                <div class="col-6 col1">
                                    <input type="text" name="total_volume" id="total_volume">
                                </div>
                            </div> -->

                            <div class="row row1">
                                <div class="col-6 col1">
                                    <label>Staff</label>
                                </div>
                                <div class="col-6 col1">
                                    <input type="text" name="staff" id="staff" [(ngModel)]="createBottlingModal.staff">
                                </div>
                            </div>
                        </form>
                    </div>



                    <div class="modal-footer">
                        <button type="button" class="btn btn-lg modalBtn1" data-bs-dismiss="modal" (click)="bottlingForm.hide()">Close</button>
                        <button type="button" class="btn btn-lg modalBtn2">Create</button>
                    </div>

                </div>
            </div>
        </div>
    </div>




    <!-- bottling modal  -->
    <div class="modal fade" bsModal #bottlepool="bs-modal" tabindex="-1" role="dialog" aria-labelledby="dialog-static-name" [config]="{ keyboard: false, backdrop: 'static'}">
        <div class="modal-dialog modal-fullscreen modal-dialog-centered">
            <div class="modal-content text-center">
                <div class="modal-body">
                    <div class="col-sm">
                        <input type="text" name="search" placeholder="search here" [(ngModel)]="searchString">
                    </div>

                    <div class="table-responsive">
                        <div class="collection-table">
                            <table class="table table-striped table-hover text-start">
                                <thead>
                                    <tr>


                                        <th *ngFor="let header of pasturizationHeader; index as i" class="px-4">
                                            {{header}}
                                        </th>
                                    </tr>
                                </thead>

                                <tbody>
                                    <tr *ngFor="let data of pasturizationData | filter:searchString">
                                        <td>
                                            <input type="checkbox" id={{data.id}} [value]=data.id (click)="selectPoolArray(data.id)"> </td>
                                        <td class="px-4">{{data.pasturization_date | date:"dd/MM/yyyy "}}</td>
                                        <td class="px-4 pre_result" *ngIf="data.pre_result != null">
                                            <span *ngIf="data.pre_result == true else notAcceptable">
                                             Growth
                                            </span>
                                            <ng-template #notAcceptable>
                                                <span *ngIf="data.pre_result != null">
                                                  No Growth
                                               </span>
                                            </ng-template>
                                        </td>
                                        <td class="px-4">{{data.post_result}}</td>
                                        <td class="px-4">{{data.pool_id}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-lg modalBtn1" (click)="bottlepool.hide()">Close</button>
                        <button type="button" class="btn btn-lg modalBtn2" (click)="selectHideBottlePool()">Select</button>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <!-- for bottles -->

    <div class="modal fade" bsModal #bottles="bs-modal" tabindex="-1" role="dialog" aria-labelledby="dialog-static-name" [config]="{ keyboard: false, backdrop: 'static'}">
        <div class="modal-dialog modal-lg modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-body">

                    <div class="container d-flex justify-content-center">
                        <form>
                            <div class="row row1">
                                <div class="col-6 col1">
                                    <label>Bottle 1</label>
                                </div>
                                <div class="col-6 col1">
                                    <input type="text" name="bottle_1" id="bottle_1" (click)="showBottle123()">
                                </div>
                            </div>

                            <div class="row row1">
                                <div class="col-6 col1">
                                    <label>Bottle 2</label>
                                </div>
                                <div class="col-6 col1">
                                    <input type="text" name="bottle_2" id="bottle_2" (click)="showBottle123()">
                                </div>

                            </div>

                            <div class="row row1">
                                <div class="col-6 col1">
                                    <label>Bottle 3</label>
                                </div>
                                <div class="col-6 col1">
                                    <input type="text" name="bottle_3" id="bottle_3" (click)="showBottle123()">
                                </div>
                            </div>

                            <div class="row row1">
                                <div class="col-6 col1">
                                    <label>Pooling Quantity</label>
                                </div>
                                <div class="col-6 col1">
                                    <input type="text" name="pooling_qty" id="pooling_qty">
                                </div>
                            </div>
                        </form>
                    </div>



                    <div class="modal-footer">
                        <button type="button" class="btn btn-lg modalBtn1" data-bs-dismiss="modal" (click)="bottles.hide()">Close</button>
                        <button type="button " class="btn btn-lg modalBtn2 " (click)="AddBottlePool() ">Add Bottle</button>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <!-- for bottle 1 2 3 -->
    <div class="modal fade" bsModal #bottle123="bs-modal" tabindex="-1" role="dialog" aria-labelledby="dialog-static-name" [config]="{ keyboard: false, backdrop: 'static'}">
        <div class="modal-dialog modal-fullscreen modal-dialog-centered">
            <div class="modal-content text-center">
                <div class="modal-body">
                    <div class="col-sm">
                        <input type="text" name="search" placeholder="search here" [(ngModel)]="searchString">
                    </div>

                    <table class="table table-hover table-striped ">
                        <thead>
                            <tr>
                                <th></th>
                                <th *ngFor="let header of bottleHeader" class="px-4">
                                    {{header}}
                                </th>
                            </tr>
                        </thead>

                        <tbody>

                            <tr *ngFor="let p of bottleData">
                                <td>
                                    <input type="radio" name="rdo" id={{p.id}} [value]=p.id [(ngModel)]="selectedPool">
                                </td>
                                <td>{{p.bottle_id | date:"dd/MM/yyyy "}}</td>
                                <td>{{p.milk_qty}}</td>
                                <td>{{p.date| date:"dd/MM/yyyy "}}</td>
                                <td>{{p.Total_Qty}}</td>

                            </tr>
                        </tbody>
                    </table>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-lg modalBtn1" (click)="bottle123.hide()">Close</button>
                    <button type="button" class="btn btn-lg modalBtn2" (click)="selectHideBottlePool123()">Select</button>
                </div>

            </div>
        </div>
    </div>